@import 'nib'


$red = #aa0000
$purple = #330033
$gold = #b7b512


@keyframes strobeBG
 for i in 0..360 
  {1% * i}
   background-position (i*100)px 0px
   
@keyframes throb
 for i in 0..60
  transform scale(i+.6)
  
@keyframes fadeOutTo33{
 from {
  opacity 1
 }
 to {
  opacity .33
 }
}

rupture.scale = 0 600px 992px 1200px





#logoHeader
 width 30em
 width 66vw
 height 30em
 height 66vh
 background-size contain
 background-position center
 background-repeat no-repeat
 display none
 margin auto
 svg
  width 30em
  width 66vw
  height 30em
  height 66vh
 
.absoluteFullScreen
 position absolute
 top 0
 bottom 0
 left 0
 right 0

#index-banner
 height 100%
 width 100%
 top 0
 bottom 0
 left 0
 right 0
 position absolute
 padding 0
 background #330033
 background radial-gradient(ellipse at center, #ee00ee 1%,#330033 66%)
 animation strobeBG 60s linear 34s infinite forwards, throb 60s linear 0s infinite alternate
 & *
  z-index 9

#heroBG
 height 100%
 position absolute
 width 100%
 top 0
 left 0
 right 0
 bottom 0
 z-index 1

#placeholderFullScreen
 position relative
 height 900px
 height 95vh

#typingHeader
 font-family "Roboto"
 font-weight 100
 color #fff
 span.small
  font-size .66em
  line-height 0
 span.underline
  text-decoration underline
 #typing, .typingCont
  margin auto
 .typingCont
  display none
  position absolute
  transition 666ms top ease-in
  margin auto
  padding-left 20%
  padding-right 20% 
  
.findYourService
 .typingCont
  +at(1)
   font-size 2.75rem
   line-height 2.75rem
   padding-left 0!important
   padding-right 0!important
 




.hero-pop-out
 position absolute
 width 25%
 min-height 19em
 z-index 99
 background rgba(255,255,255,.15)
 text-shadow #000 0px 1px 0, #000 0px -1px 0, #000 1px 1px 0, #000 -1px 1px 0, #000 1px -1px 0, #000 -1px -1px 0, #000 1px 0px 0, #000 -1px 0px 0
 &:hover, &:active
  background rgba(255,255,255,.25)
 .card-reveal
  text-shadow none
 .card-title
  color $gold !important
 &.left .card-action
  left 0
 &.right .card-action
  right 0
 .card-action
  font-weight 900
  text-shadow none
  background-color #fff
  position absolute
  bottom 0
  & *
   color $red !important
 
.top
 top 0
 
.bot
 bottom 0
 
.left
 left 0
 
.right
 right 0
 
#botRightPop *
 text-align right
 


::-webkit-scrollbar-track
 box-shadow inset 0 0 6px rgba(0,0,0,0.1)
 background-color transparent
 border-radius 10px


::-webkit-scrollbar
 width 4px
 height 4px
 background-color transparent
 
.modal-content
 overflow-x hidden
 &::-webkit-scrollbar 
  width: 2.5%


::-webkit-scrollbar-thumb
 border-radius 10px
 background-color transparent
 background-image: linear-gradient(top,
  #303 0%,
  #e0e 50%,
  #e0e 51%,
  #303 100%)
  
::selection
 background #303
 background rgba(30,0,30,.66)
 color #dad4ae
 
.navbar-fixed nav
 background-color rgba(51,0,51,.5)
 
.parallax-container
 max-height 800px
 h1
  z-index 9
  position sticky
  text-shadow #fff 0 0 3px, #fff -1px -1px 0, #eee -2px -2px 0, #ddd -3px -3px 0, #ccc -4px -4px 0, #bbb -5px -5px 0, #aaa -6px -6px 0, #000 -7px -7px 0
  transition 333ms all ease-in
  &:hover
   text-shadow #fff 0 0 5px, #fff 0 0 5px, #fff 0 0 5px, #fff 0 0 5px, #fff 0 0 5px, #fff 0 0 5px, #fff 0 0 5px, #fff 0 0 5px
 .carousel
  z-index 9
  .carousel-item
   z-index 99
   margin-top -100px
   
#contactForm
 input, textarea
  color #fff
 label
  position relative
 .help-block
  color #fff
 legend
  font-family 'Roboto'
  font-weight 100
  color #fff
  font-size 2em
  text-shadow #aaa -1px -1px, #999 -2px -2px
  
#stackChart
 z-index 0
 position absolute
 top 0
 
#stackChart *
 animation 5.5s ease-in fadeOutTo33 forwards

.toast
 background #303
 
#services
 li
  list-style-type circle
 a
  color $red
 .card-content
  i.material-icons
   font-size 9em
   color $purple
 .waves-effect .waves-ripple
  background-color rgba(60,0,60,.65)
 .tabs 
  .active
   border-bottom $purple 2px solid
  .indicator
   background-color $gold 

  
#findServiceForm
 margin auto
 *
  color #fff
 .row
  width 20em
  width 80vw
  opacity 0
  transition 1s ease-in
  &.currentSlide
   opacity 1
 .row
  display none
 input
  width 80%
 textarea
  position absolute
  bottom 10%
  left 10%
  right 10%
  width 80%
 .af-checkbox-group
  padding-left 18px
  padding-right 10px
  position relative
  align-items center
  justify-content space-around
  font-size 0em
  label
   padding-right 30px
   padding-left 25px
  input:not(.smallerCheck)
   &+label
     font-size 2em
     font-size 2rem
     height 3.5rem
     padding-left 60px
     padding-right 50px
     padding-top 13px
    &[type="checkbox"]+label:before
     height 50px
     width 50px
    &[type="checkbox"]:checked+label:before
     height 50px
     width 22px
  +above(2)
   .smallerCheck
    &+label
     font-size 2em
     font-size 2rem
     height 3.5rem
     padding-left 60px
     padding-right 50px
     padding-top 13px
    &[type="checkbox"]+label:before
     height 50px
     width 50px
    &[type="checkbox"]:checked+label:before
     height 50px
     width 22px
  p
   display inline-block
   position relative
   align-items center
 [type="submit"]
  font-size 2em
  height 2em
  background $gold
 #email
  position absolute
  bottom 0
  left 10%
  right 10%
  +at(1)
   bottom 25%

.app_nav
 transition 1s all ease-in
 position absolute
 font-size 6em!important
 color #fff
 z-index 9
 cursor not-allowed
 opacity .33
 bottom 0
 &#back
  left 0
 &#forward
  right 0 
 &.ready
  opacity 1
  color $gold
  text-shadow $gold 0 0 8px, #fff 1px 0 0, #fff -1px 0 0, #fff 1px 1px 0, #fff -1px 1px 0, #fff -1px 1px 0, #fff -1px -1px 0, #fff 0 1px 0, #fff 0 -1px 0
  background $purple
  border-radius 50%
  border-color #fff 
  border-width 2px 
  border-style solid
  cursor pointer
  &#forward
   right 5%
   bottom 75%
   +at(1)
    bottom 3%
  &#back
   left 5%
   bottom 75%
   +at(1)
    bottom 3%

.noUi-tooltip span
 width 100%
 text-align center
 color #fff
 font-size 12px
 opacity 0
 position absolute
 left -1px
 transition opacity .25s cubic-bezier(0.215, 0.610, 0.355, 1.000)


.noUi-horizontal .noUi-active .noUi-tooltip span, .noUi-vertical .noUi-active .noUi-tooltip span
    opacity 1

.numberInput
 font-size 3em!important
 font-size 5rem!important
 height 3em!important
 height 5rem!important
 text-align center
 bottom 10%
 position absolute
 left 10%
 +at(1)
  bottom 25%

.displayRange
 position absolute
 bottom 0
 left 0
 right 0
 height 9em
 height 10vh
 font-size 1em
 +at(1)
  bottom 25%
 input
  width 20%!important
  text-align center
  font-size 1rem
  +at(1)
   font-size 1rem
  
.af-radio-group
 [type="radio"]:not(:checked)+label, [type="radio"]:checked+label
  padding-left 20px
 span
  margin-left 1rem
 p
  text-align center
  margin auto
  label
   font-size 2rem
   
[data-schema-key="localPlatforms"] 
 label 
  font-size 1rem!important


#tactics
 h1,h2,h3,h4,h5
  text-align center
  color #fff
  h3
   +at(1)
    font-size 1.5rem
 .fp-controlArrow
  border-color transparent transparent transparent rgba(255,255,255,.5)
  .fp-prev
   display none
 .slide
  .row
   width 100%
   text-align center
 .longText
  cursor -webkit-zoom-in
  color #fff
  background rgba(51, 0, 51,.77)
  overflow-y auto
  padding-left .3rem
  padding-right .3rem
  margin-left 3%
  border-radius .5rem
  width 93%
  height 72vh
  box-shadow #303 0 0 3px
  border-color #fff
  border-width 1px 
  border-style solid
  display inline-block
  &.why
   display block
   margin auto
   text-align center
 .ranking
  margin 0!important
  color #fff
  font-size 3rem
  box-shadow #303 0 0 3px
 .name
  margin 0!important
  font-size 5rem
  border-bottom 2px #fff solid
  text-align center
  color #fff
 .section
  background #330033
  background radial-gradient(ellipse at center, #ee00ee 1%,#330033 66%)
 .section:nth-child(1)
  background #330033
  background radial-gradient(ellipse at center, #ff0000 1%,#770000 66%)
  .longText
   background rgba(192,0,0,.7)
 .section:nth-child(2)
  background #330033
  background radial-gradient(ellipse at center, #ee00ee 1%,#330033 66%)
 .section:nth-child(3)
  background #330033
  background radial-gradient(ellipse at center, #b7b512 1%,#424100 66%)
  .longText
   background rgba(66,65,0,.7)
 .section:nth-child(4)
  background #330033
  background radial-gradient(ellipse at center, #ee00ee 1%,#330033 66%)
 .service 
  text-align center
  margin-left .5rem
  h5
   color #000
 #finalSection
  position absolute
  height 100%
  width 100%
  top 0
 +at(1)
  .name
   font-size 2.5rem
  .ranking
   font-size 1rem
 +at(2)
  .name
   font-size 3rem
  .ranking
   font-size 2rem
 #email
  bottom 25%
    

#menu
 position fixed
 bottom 2%
 right 2%
 z-index 9999
 .btn-floating
  background #fff
 i
  background $purple

.tap-target
 background $gold!important
 background-color $gold 

.tap-target-wave::before, .tap-target-wave::after
 background-color $red

.tap-target-content 
 a
  color $red
 *
  color #fff
  text-align right!important
 +at(1)
  h5
   font-size 1.15rem
  h2
   font-size 2.5rem
  h3 a
   font-size 2rem
   
.bonus
 h3
  padding-left 3rem
  padding-right 3rem
  font-size 1.4rem